.sawoContainer{
  width: 50%;
  height: 50%;
  margin-top: 12%;
  margin-left: 22%;
}

@media screen and (max-width: 1180px) {
  .sawoContainer{
    margin-top: 35vh;
    margin-left: 10%;
    height: 70%;
    width: 80%;
  }
}