.main{
    display: flex;
    justify-content: space-between;
    font-family: 'Arial';
}
h1{
    font-family: 'Calibri';
}
.comp{
    font-size: 30px;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    border: solid var(--clr-neon);
    box-shadow: var(--clr-neon) 10px 10px;
}
.human{
    font-size: 30px;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    border: solid var(--clr-neon);
    box-shadow: var(--clr-neon) 10px 10px;
}
.time{
    border: 5px solid;
    border-color: --var(--clr-neon);
    border-radius: 100px;
    padding: 1% 4%;
}
.red{
    color: red;
}
