.welcome{
    text-align: center;
    background-image: url(../../public/assets/quiz_bg.png);
    min-height: 100vh;
    box-shadow: 0 4px 8px 0;
}
.button{
    text-align: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-top: 82vh;
    font-size: 50px;
    color: white;
    background-image: linear-gradient(to bottom, #16a085, #2ecc71);
    border: none;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}


/*Bounce*/
@keyframes kreep {
    0% {-webkit-transform: scale(1.1,.9);
        transform: scale(1.1,.9);}
   50% { -webkit-transform: scale(.9,1.1) translateY(-.5rem)}
   70% { -webkit-transform: scale(1);
         transform: scale(1);}
}

h1.kreep {
  display: inline-block;
  animation: kreep 0.7s ease 2s infinite alternate;
}

h1.kreep:hover {
  animation: none;
}